#model {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.model__body {
  width: 70vw;
  background-color: #fff;
  padding: 2rem;
}

.model__heading {
  text-transform: capitalize;

  font-size: 1.5rem;
  color: #6e8d87;
}
.model__message {
  font-size: 3rem;
  margin: 2rem 0;
  color: #4a5f5b;
}
.model__action {
  border-top: 2px solid #eee;
}
.model__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.model__btn button {
  border-radius: 0.3rem;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
}

.model {
  background-color: rgba(49, 49, 49, 0.705);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
