.header {
  display: flex;
  background-image: linear-gradient(to right bottom, #01b67191, #0000009d);
  height: 10vh;
  width: 100%;
  align-items: center;
  padding: 0 2rem 0 4rem;
}
.logo {
  color: #fff;
  font-size: 3.5rem;
  line-height: 6rem;
  font-weight: 400;
  margin-right: auto;
  text-decoration: none;
}

.nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 2;
}

.nav li {
  line-height: 8rem;
  margin: 0 0.5rem;
  cursor: pointer;
  outline: none;
}
.nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding: 0.5rem 1.1rem;
  border-radius: 3px;
  text-decoration: none;
}
.nav a.active,
.nav a:hover {
  background-image: linear-gradient(to right bottom, #0000000a, #00000096);
  transition: all 0.5s;
}

.cta {
  padding: 0.2rem 1.1rem;
  border-radius: 0.2rem;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav__user {
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.nav__user--avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
}

.nav__user--name {
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  right: -1;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.473);
  color: #fff;
  display: none;
  transition: display 0.2s;
}
.nav__user:hover .nav__user--name {
  display: block;
}
.btn--orange {
  background-color: #f39c12;
  color: #fff;
}
.btn--red {
  background-color: #ff0000;
  color: #fff;
}

.btn--green {
  color: #fff;
  background-color: #2ecc71;
}
.btn__logout {
  padding: 0.5rem 1.5rem;
}

.nav-btn {
  border: none;
  border-radius: 0;
  padding-right: 1rem;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  position: absolute;
  right: 2rem;
  outline: none;
  display: none;
}

.nav-btn::before,
.nav-btn::after {
  background-color: #fff;
  content: '';
  height: 2px;
  width: 4.5rem;
  display: block;
}

.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.5rem);
}
#check {
  display: none;
}

@media only screen and (max-width: 750px) {
  .header {
    /* height: auto;
    padding: 2rem; */
  }
  .nav-btn {
    display: block;
    cursor: pointer;
  }
  .nav-btn:hover,
  .nav-btn:active {
    transform: scale(0.9);
  }
  .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #01b671, #000000);
    top: 10vh;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2rem;
    transition: all 0.5s;
  }
  .nav__user {
    width: 5.5rem;
    height: 5.5rem;
    overflow: hidden;
    cursor: pointer;
  }

  .user__profile {
    position: fixed;
    bottom: 2.5rem;
  }
  .nav li {
    display: block;
    height: 8rem;
  }

  .nav li a {
    font-size: 2rem;
    /* border-bottom: 1px solid #777; */
  }

  .nav li a.active,
  .nav li a:hover {
  }
  #check:checked ~ ul {
    left: 0;
  }
}
